body, html {
    overflow: hidden !important;
}
section {
    background: #fafafa;
    margin: 9px 13px 13px 13px;
    padding: 9px;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 2px 3px #424242;
}
/*Arrow at the top*/
section::after, section::before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
}
section::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #aeea00;
    top: -9px;
    left: calc(50% - 10px);
}

.titlebar {
    width: calc(100%+9px);
    border-radius: 2px 2px 0px 0px;
    margin-top: -33px !important;
    margin-left: -9px;
    margin-right: -9px;
    margin-right: -9px !important;
    margin-bottom: -10px !important;
    background-color: #aeea00;
}

.title {
    margin-left: 9px;
    line-height: 40px;
}

.buttoncontainer {
    margin-left: 9px;
    padding: 5px;
}